
//mobile first- //360px
body{
    background-color: $white;
}
.container{
    width: 100%;
    //quiero que ocupe todo el ancho en mobile
    max-width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

//esta clase va a ir en el mismo div que tenga la clase contenedor
.grid{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr;
    // grid-template-columns: repeat(12,1fr) ;
    grid-auto-rows:auto ;
    row-gap:0;
    column-gap:20px;
}
@for $i from 1 through 12 {
    .grid-#{$i} {
        grid-column: span ($i);
    }
}





//540px
@media #{$xs} {
    @for $i from 1 through 12 {
        .grid-xs#{$i} {
            grid-column: span ($i);
        }
    }
}
//768px

@media #{$s} {
    .container{  
        max-width: 768px;
    }
    @for $i from 1 through 12 {
        .grid-s#{$i} {
            grid-column: span ($i);
        }
    }
}
//992px

@media #{$m} {
    .container{
        max-width: 992px;
    }
    @for $i from 1 through 12 {
        .grid-m#{$i} {
            grid-column: span ($i);
        }
    }
}
//1200px
@media #{$l} {
    .container{
        max-width: 1200px;
    }
    @for $i from 1 through 12 {
        .grid-l#{$i} {
            grid-column: span ($i);
        }
    }
}

//1440px
@media #{$xl} {
    .container{
        max-width: 1440px;
    }
    @for $i from 1 through 12 {
        .grid-xl#{$i} {
            grid-column: span ($i);
        }
    }
}