/*Media queris*/
/*Fonts*/
/*Colors*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #EEEEEE;
}

button.btn-blue {
  width: 100%;
  max-width: 218px;
  height: 45px;
  border-color: transparent;
  background-color: #3483fa;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0 24px;
}

h1, .h1 {
  font-size: 46px;
  line-height: 50px;
  font-weight: 700;
  font-style: normal;
}

h2, .h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
}

h3, .h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.text-subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .container-nav {
    min-width: 1200px;
  }
}

@media screen and (min-width: 992px) {
  .container-nav {
    min-width: 992px;
  }
}

@media screen and (min-width: 768px) {
  .container-nav {
    min-width: 768px;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 0;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.grid-6 {
  grid-column: span 6;
}

.grid-7 {
  grid-column: span 7;
}

.grid-8 {
  grid-column: span 8;
}

.grid-9 {
  grid-column: span 9;
}

.grid-10 {
  grid-column: span 10;
}

.grid-11 {
  grid-column: span 11;
}

.grid-12 {
  grid-column: span 12;
}

@media screen and (min-width: 540px) {
  .grid-xs1 {
    grid-column: span 1;
  }
  .grid-xs2 {
    grid-column: span 2;
  }
  .grid-xs3 {
    grid-column: span 3;
  }
  .grid-xs4 {
    grid-column: span 4;
  }
  .grid-xs5 {
    grid-column: span 5;
  }
  .grid-xs6 {
    grid-column: span 6;
  }
  .grid-xs7 {
    grid-column: span 7;
  }
  .grid-xs8 {
    grid-column: span 8;
  }
  .grid-xs9 {
    grid-column: span 9;
  }
  .grid-xs10 {
    grid-column: span 10;
  }
  .grid-xs11 {
    grid-column: span 11;
  }
  .grid-xs12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .grid-s1 {
    grid-column: span 1;
  }
  .grid-s2 {
    grid-column: span 2;
  }
  .grid-s3 {
    grid-column: span 3;
  }
  .grid-s4 {
    grid-column: span 4;
  }
  .grid-s5 {
    grid-column: span 5;
  }
  .grid-s6 {
    grid-column: span 6;
  }
  .grid-s7 {
    grid-column: span 7;
  }
  .grid-s8 {
    grid-column: span 8;
  }
  .grid-s9 {
    grid-column: span 9;
  }
  .grid-s10 {
    grid-column: span 10;
  }
  .grid-s11 {
    grid-column: span 11;
  }
  .grid-s12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
  .grid-m1 {
    grid-column: span 1;
  }
  .grid-m2 {
    grid-column: span 2;
  }
  .grid-m3 {
    grid-column: span 3;
  }
  .grid-m4 {
    grid-column: span 4;
  }
  .grid-m5 {
    grid-column: span 5;
  }
  .grid-m6 {
    grid-column: span 6;
  }
  .grid-m7 {
    grid-column: span 7;
  }
  .grid-m8 {
    grid-column: span 8;
  }
  .grid-m9 {
    grid-column: span 9;
  }
  .grid-m10 {
    grid-column: span 10;
  }
  .grid-m11 {
    grid-column: span 11;
  }
  .grid-m12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .grid-l1 {
    grid-column: span 1;
  }
  .grid-l2 {
    grid-column: span 2;
  }
  .grid-l3 {
    grid-column: span 3;
  }
  .grid-l4 {
    grid-column: span 4;
  }
  .grid-l5 {
    grid-column: span 5;
  }
  .grid-l6 {
    grid-column: span 6;
  }
  .grid-l7 {
    grid-column: span 7;
  }
  .grid-l8 {
    grid-column: span 8;
  }
  .grid-l9 {
    grid-column: span 9;
  }
  .grid-l10 {
    grid-column: span 10;
  }
  .grid-l11 {
    grid-column: span 11;
  }
  .grid-l12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .grid-xl1 {
    grid-column: span 1;
  }
  .grid-xl2 {
    grid-column: span 2;
  }
  .grid-xl3 {
    grid-column: span 3;
  }
  .grid-xl4 {
    grid-column: span 4;
  }
  .grid-xl5 {
    grid-column: span 5;
  }
  .grid-xl6 {
    grid-column: span 6;
  }
  .grid-xl7 {
    grid-column: span 7;
  }
  .grid-xl8 {
    grid-column: span 8;
  }
  .grid-xl9 {
    grid-column: span 9;
  }
  .grid-xl10 {
    grid-column: span 10;
  }
  .grid-xl11 {
    grid-column: span 11;
  }
  .grid-xl12 {
    grid-column: span 12;
  }
}

/*Media queris*/
/*Fonts*/
/*Colors*/
.header-container .header {
  background-color: #ffe600;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .header .container-nav {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .header .container-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding-right: 10px;
  padding-left: 0px;
}

.header-container .header .container-nav .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0px;
  height: auto;
  width: 100%;
}

.header-container .header .container-nav .form .div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-container .header .container-nav .form .div-container .input-container {
  width: 100%;
}

.header-container .header .container-nav .form .div-container .input-container .placeholder-input {
  padding: 7px 60px 7px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-container .header .container-nav .form .div-container .button-search {
  width: 30px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gray-block {
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
}

.gray-block .container-general .img-container img {
  width: 100%;
  max-width: 500px;
}

.gray-block .container-general .container-description .subtitle {
  color: #666666;
}

@media screen and (min-width: 1200px) {
  .container-nav {
    min-width: 1200px;
  }
  .gray-block .container-general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gray-block .container-general .img-container img {
    width: 500px;
  }
}
/*# sourceMappingURL=search.css.map */