/*Media queris*/
$xs: "screen and (min-width : 540px)";
$s: "screen and (min-width : 768px)";
$m: "screen and (min-width : 992px)";
$l: "screen and (min-width : 1200px)"; 
$xl: "screen and (min-width : 1440px)"; 

/*Fonts*/
$font-family:'Source Sans Pro', sans-serif;


/*Colors*/
$yellow: #ffe600;
$black: #333333;
$gray:#EEEEEE;
$gray2:#666666;
$gray3:#999999;
$white:#ffffff;
$blue: #3483fa;
